.App {
	max-width: 600px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	border: 3px solid rgba(178, 253, 238, 0.96);
	border-radius: 7px;
	background: linear-gradient(
		89.9deg,
		rgba(178, 253, 238, 0.96) -8.1%,
		rgb(207, 244, 254) 26.3%,
		rgba(207, 244, 254, 0.48) 47.5%,
		rgba(254, 219, 243, 0.63) 61.5%,
		rgb(254, 219, 243) 78.7%,
		rgb(254, 207, 210) 109.2%
	);
}

.App h1 {
	margin-left: 10px;
	font-size: 50px;
}
